body {   
background-color: black;
color: lime;
background-image: url('https://tenor.com/view/spiral-gif-12913955');
}



main {
    width: 60%;
    margin: 0 auto;
    font-family: 'Geo', sans-serif;
    font-size: 1.2em;
}
blockquote > footer {
    text-align: center;
}

h1 {
    text-align: center;
font-size: 2.2em;
}
h2 {
    text-align: center;
    font-size: 1.4em;}
}

.chapter {
    background-color:blanchedalmond
}

.unreadable {

}